<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
	  <add key="sale" value="Suggestion: Sell " />
	  <add key="purchase" value="Suggestion: Buy " />
	  <add key="server" value="smtp.gmail.com" />
	  <add key="username" value="sender" />
	  <add key="sender" value="sender@gmail.com" />
	  <add key="receiver" value="receiver@gmail.com" />
	  <add key="password" value="password" />
 </appSettings>
</configuration>