<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
  <add key="sale" value="Suggestion: Sell " />
  <add key="purchase" value="Suggestion: Buy " />
  <add key="server" value="smtp.gmail.com" />
  <add key="username" value="default" />
  <add key="password" value="default" />
  <add key="receiver" value="default" />
 </appSettings>
</configuration>